.App-body {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}
.id {
  color: red;
}
.title {
  color: red;
}
.App-footer {
  text-align: right;
  font-family: 'Courier New', Courier, monospace;
}
.App {
  background-color: rgb(191, 255, 255);
}
